body {
  margin: 0;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  display: flex;
  background-color: #d5e1ef;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.box {
  background-color: #ffffff;
  width: 20rem;
  height: 32rem;
  border-radius: 20px;
  box-shadow: 0 5px #00000005;
}

.img {
  height: 288px;
  width: 288px;
  display: block;
  margin: 16px auto;
  border-radius: 10px;
}

.text {
  width: 288px;
  height: 131px;
  text-align: center;
  padding: 0 16px;
}
.main-p {
  margin-top: 24px;
  font-size: 22px;
  color: #1f314f;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: bold;
}
.second-p {
  font-size: 16px;
  color: #68778d;
  line-height: 140%;
  letter-spacing: 0.2px;
  font-weight: normal;
}
